/*==============================
	Colors
==============================*/

/*

  orange  -  #FC9A42
  pink  -  #ff3ca5
  light blue - #2BC9FF
  neon blue - #4666FF

*/

/*==============================
	Common styles
==============================*/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}
button {
    transition: 0.5s ease;
    transition-property: color, background-color, border-color, box-shadow;
    cursor: pointer;
}
button:focus {
    outline: none;
}
a {
    transition: 0.5s ease;
    transition-property: color, background-color, border-color, box-shadow;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}
input,
textarea,
select {
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    transition: 0.5s ease;
    transition-property: background-color, border-color;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tab-content {
    width: 100%;
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
.fade {
    transition: opacity 0.4s linear;
}
@media screen and (prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
}
.fade:not(.show) {
    opacity: 0;
}
.collapse:not(.show) {
    display: none;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}
@media screen and (prefers-reduced-motion: reduce) {
    .collapsing {
        transition: none;
    }
}

.slick-hero{
    padding: 0 90px;
}
.slick-arrow{
    position: absolute;
    z-index: 100;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    cursor: pointer;
}
.slick-arrow.arrow-prev{
    left: 0;
}
.slick-arrow.arrow-next{
    right: 0;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
.slick-arrow line,
.slick-arrow polyline{
    stroke-width: 2;
    stroke-dasharray: 30;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset .6s ease-out;
}
.slick-arrow:hover line,
.slick-arrow:hover polyline{
    stroke-dashoffset: 60;
}

.slick-dots{
    bottom: 0;
    position: relative;
}

/*==============================
	Bootstrap Overrides
==============================*/
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    border-radius: 16px;
    padding: 0 26px;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Pequena Neo', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.btn span {
    display: block;
    position: relative;
    top: -2px;
    z-index: 2;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.btn::after{
    content: '';
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: calc(100% - 10px);
    border: 2px solid rgba(0, 174, 239, 0.3);
    z-index: 2;
    pointer-events: none;
    border-radius: 12px;
    transition: 0.5s ease;
    transition-property: border;
}

.btn-primary{
    background: #2BC9FF;
    border-color: #2BC9FF;
}
.btn-primary::after{
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.btn-primary:hover {
    color: #fff;
    background-color: #ff3ca5;
    border-color: #ff3ca5;
}

.btn-secondary{
    background: #ff3ca5;
    border-color: #ff3ca5;
}
.btn-secondary::after{
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.btn-secondary:hover {
    color: #fff;
    background-color: #2BC9FF;
    border-color: #2BC9FF;
}

.btn-light{
    background: #ffffff;
}
.btn-light span{
    color: #2BC9FF;
}
.btn-light:hover {
    background-color: #ff3ca5;
    border-color: #ff3ca5;
}
.btn-light:hover span{
    color: #ffffff;
}
.btn-light:hover::after{
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.btn-lang{
    border: none;
    background: none;
    box-shadow: none;
    padding: 0 5px;
    opacity: 0.7;
}
.btn-lang.active{
    opacity: 1;
}
.btn-lang:hover{
    opacity: 0.8;
}

.btn-lang:focus, .btn-lang:active{
    border: none;
    box-shadow: none;
}
.btn-lang::after{
    content: none;
}
.btn-lang img{
    width: 25px !important;
    height: 25px;
    border-radius: 3px !important;
}
/*==============================
	Header
==============================*/
.header {
    /*position: fixed;*/
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: transparent;
}
.header:before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    height: 0;
    background-color: transparent;
    transition: 0.5s ease;
    pointer-events: none;
    border-bottom: 1px solid transparent;
}
.header--news .header__btn span,
.header--active .header__btn span {
    background-color: #232122;
}
.header--news .header__logo-white,
.header--active .header__logo-white {
    opacity: 0;
}
.header--news .header__logo-dark,
.header--active .header__logo-dark {
    opacity: 1;
}
.header--news .header__logo,
.header--active .header__logo {
    pointer-events: auto;
}
.header--news:before,
.header--active:before {
    height: 80px;
    background-color: #fff;
    border-color: rgba(37,104,176,0.12);
}
.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
    width: 100%;
}
.header__logo {
    z-index: 1;
    width: auto;
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-left: 40px;
    pointer-events: none;
}
.header__logo img {
    height: 50px;
    width: auto;
}
.header__logo-white {
    position: relative;
    opacity: 1;
    transition: opacity 0.4s ease;
}
.header__logo-dark {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.header__btn {
    position: absolute;
    width: 24px;
    height: 22px;
    display: block;
    left: 0;
}
.header__btn span {
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.5s ease;
    opacity: 1;
}
.header__btn span:first-child {
    top: 0;
}
.header__btn span:nth-child(2) {
    top: 10px;
    width: 16px;
}
.header__btn span:last-child {
    top: 20px;
    width: 8px;
}
.header__btn--active span:first-child {
    transform: rotate(45deg);
    top: 10px;
}
.header__btn--active span:nth-child(2) {
    opacity: 0;
}
.header__btn--active span:last-child {
    width: 24px;
    transform: rotate(-45deg);
    top: 10px;
}
.header__tagline {
    display: none;
}
.header__nav {
    position: fixed;
    width: 250px;
    top: 80px;
    bottom: 0;
    left: 0;
    background-color: #232122;
    padding: 30px 15px 0;
    transition: transform 0.5s ease;
    transform: translate3d(-250px, 0, 0);
}
.header__nav--active {
    transform: translate3d(0, 0, 0);
}
.header__nav li {
    display: block;
    margin-bottom: 25px;
}
.header__nav li:last-child {
    margin-bottom: 0;
}
.header__nav li.active a {
    color: #c2c2c2;
}
.header__nav a {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.header__nav a:hover {
    color: #c2c2c2;
}
.header__dropdown {
    position: relative;
    display: block;
    width: auto;
}
.header__dropdown .dropdown-toggle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.header__dropdown .dropdown-toggle svg {
    width: 14px;
    height: auto;
    fill: #fff;
    margin-left: 3px;
    margin-top: 1px;
    transition: fill 0.5s ease;
}
.header__dropdown .dropdown-toggle:hover,
.header__dropdown .dropdown-toggle[aria-expanded="true"] {
    color: #c2c2c2;
}
.header__dropdown .dropdown-toggle:hover svg,
.header__dropdown .dropdown-toggle[aria-expanded="true"] svg {
    fill: #c2c2c2;
}
.header__dropdown-menu {
    position: absolute;
    background-color: #fff;
    padding: 15px 20px;
    display: block;
    width: 180px;
    text-align: left;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    border-radius: 16px;
    transition: 0.5s ease;
    transition-property: opacity, margin-top, transform;
    margin-top: 0;
    top: 0;
    border: 1px solid rgba(37,104,176,0.12);
    transform: translate3d(0px, 24px, 0px);
}
.header__dropdown-menu li {
    padding: 0;
    margin-bottom: 10px;
}
.header__dropdown-menu li:last-child {
    margin-bottom: 0;
}
.header__dropdown-menu a {
    font-size: 16px;
    line-height: 26px;
    color: #232122;
    text-transform: none;
    font-weight: 400;
}
.header__dropdown-menu a:hover {
    color: #423baa;
}
.header__dropdown-menu.show {
    z-index: 1000;
    pointer-events: auto;
    opacity: 1;
    margin-top: 10px;
}
.header__cta {
}

@media (min-width: 576px) {
    .header__logo {
        margin-left: 45px;
    }
    .header__tagline {
        display: block;
        line-height: 24px;
        color: #fff;
        font-size: 14px;
        transition: color 0.5s ease;
        margin-right: auto;
        margin-left: 20px;
        font-weight: 400;
    }
    .header__nav {
        padding-left: calc((100vw - 510px) / 2);
    }
    .header--news .header__tagline,
    .header--active .header__tagline {
        color: #232122;
    }
}
@media (min-width: 768px) {
    .header__nav {
        padding-left: calc((100vw - 690px) / 2);
        width: 280px;
        transform: translate3d(-280px, 0, 0);
    }
    .header__nav--active {
        transform: translate3d(0, 0, 0);
    }
}
@media (min-width: 992px) {
    .header__nav {
        padding-left: calc((100vw - 930px) / 2);
    }
}
@media (min-width: 1200px) {
    .header__btn {
        display: none;
    }
    .header__logo {
        margin: 0;
    }
    .header__nav {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: auto;
        transform: translate3d(0, 0, 0);
        padding: 0;
        /*margin-right: auto;*/
    }
    .header__nav li {
        display: block;
        margin-right: 30px;
        margin-bottom: 0;
    }
    .header__nav li:last-child {
        margin-right: 0;
    }
    .header__nav a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40px;
        color: #fff;
        font-size: 16px;
        text-transform: none;
    }
    .header__nav a:hover {
        color: #c2c2c2;
    }
    .header__dropdown-menu {
        transform: translate3d(0px, 40px, 0px);
        margin-top: -10px;
    }
    .header__dropdown-menu li {
        margin-right: 0;
    }
    .header__dropdown-menu a {
        color: #232122;
        justify-content: flex-start;
    }
    .header__dropdown-menu a:hover {
        color: #423baa;
    }
    .header__dropdown-menu.show {
        margin-top: 0;
    }
    .header--news .header__nav a,
    .header--active .header__nav a {
        color: #232122;
    }
    .header--news .header__nav a:hover,
    .header--active .header__nav a:hover {
        color: #423baa;
    }
    .header--news .header__dropdown .dropdown-toggle svg,
    .header--active .header__dropdown .dropdown-toggle svg {
        fill: #232122;
    }
    .header--news .header__dropdown .dropdown-toggle:hover,
    .header--news .header__dropdown .dropdown-toggle[aria-expanded="true"],
    .header--active .header__dropdown .dropdown-toggle:hover,
    .header--active .header__dropdown .dropdown-toggle[aria-expanded="true"] {
        color: #423baa;
    }
    .header--news .header__dropdown .dropdown-toggle:hover svg,
    .header--news .header__dropdown .dropdown-toggle[aria-expanded="true"] svg,
    .header--active .header__dropdown .dropdown-toggle:hover svg,
    .header--active .header__dropdown .dropdown-toggle[aria-expanded="true"] svg {
        fill: #423baa;
    }
}

/*==============================
	Main Content
==============================*/
#main-content {
    position: relative;
    overflow: hidden;
}
section {
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
}
.main-title-wrapper {
    text-align: left;
    margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
}
.main-title-wrapper .sitemain-subtitle {
    position: relative;
    padding-bottom: calc(24px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 60px;
    font-family: 'Pequena Neo', sans-serif;
    font-weight: 600;
    font-size: calc(24px + (42 - 24) * ((100vw - 320px) / (1920 - 320)));
    color: #202020;
}
.sitemain-subtitle:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 100px;
    background: linear-gradient(to right, #33ccff 0%, #3366ff 100%);
    border-radius: 16px;
}
.sitemain-subtitle.text-white:after{
    background: #ffffff;
}

/*==============================
	Banner Wrapper
==============================*/
.banner-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: calc(85px + (170 - 85) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(70px + (180 - 70) * ((100vw - 320px) / (1920 - 320)));
    background: url(../img/banner/bg1.png) no-repeat center bottom;
    background-size: cover;
}
.banner-wrapper .row {
    align-items: center;
}

.banner-content{
    padding: 60px 0;
}
.banner-content .banner-main-title {
    margin-bottom: 60px;
    font-family: 'Pequena Neo', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase;
}
.banner-content .banner-main-title__small{
    font-size: 32px;
}

.banner-content .banner-dec {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 33px; }

.banner-image {
    position: relative;
}
.banner-image .banner-img {
    width: 100%;
    height: auto;
}

.slider-animation-images span {
    display: block;
    position: absolute; }

.slider-animation-images .image1 {
    left: 2.6%;
    top: 12%;
    animation: animationFramesOne 15s infinite linear; }

.slider-animation-images .image2 {
    top: 13%;
    left: 2.8%;
    animation: animationFramesThree 15s infinite linear; }

.slider-animation-images .image3 {
    left: 1.5%;
    bottom: 35.6%;
    animation: animationFramesOne 15s infinite linear; }

.slider-animation-images .image4 {
    left: 33%;
    bottom: 13%;
    animation: animationFramesTwo 15s infinite linear; }

.slider-animation-images .image5 {
    left: 37%;
    bottom: 16%;
    animation: animationFramesTwo 15s infinite linear; }

.slider-animation-images .image6 {
    right: 40.2%;
    top: -1%;
    animation: animationFramesFour 15s infinite linear; }

.slider-animation-images .image7 {
    right: 33.5%;
    bottom: 0;
    animation: animationFramesFive 15s infinite linear; }

.slider-animation-images .image8 {
    right: 6.3%;
    top: 15%;
    animation: animationFramesSix 15s infinite linear; }

.slider-animation-images .image9 {
    right: -4%;
    bottom: 14%;
    animation: ripple4 15s linear infinite; }

@keyframes animationFramesOne {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg); }
    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg);
        transform: translate(73px, -1px) rotate(36deg); }
    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg);
        transform: translate(141px, 72px) rotate(72deg); }
    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg);
        transform: translate(83px, 122px) rotate(108deg); }
    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg);
        transform: translate(-40px, 72px) rotate(144deg); }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
        transform: translate(0px, 0px) rotate(0deg); } }

@keyframes animationFramesTwo {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
        transform: translate(0px, 0px) rotate(0deg) scale(1); }
    20% {
        -webkit-transform: translate(200px, -1px) rotate(36deg) scale(0.7);
        transform: translate(200px, -1px) rotate(36deg) scale(0.7); }
    40% {
        -webkit-transform: translate(251px, 140px) rotate(72deg) scale(0.6);
        transform: translate(251px, 140px) rotate(72deg) scale(0.6); }
    60% {
        -webkit-transform: translate(141px, 250px) rotate(108deg) scale(0.7);
        transform: translate(141px, 250px) rotate(108deg) scale(0.7); }
    80% {
        -webkit-transform: translate(-40px, 100px) rotate(144deg) scale(0.8);
        transform: translate(-40px, 100px) rotate(144deg) scale(0.8); }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
        transform: translate(0px, 0px) rotate(0deg) scale(1); } }

@keyframes animationFramesThree {
    0% {
        -webkit-transform: translate(1000px, 1000px);
        transform: translate(1000px, 1000px); }
    100% {
        -webkit-transform: translate(-500px, -500px);
        transform: translate(-500px, -500px); } }

@keyframes animationFramesFour {
    0% {
        transform: translate(-1000px, 1000px); }
    100% {
        transform: translate(200px, -200px); } }

@keyframes animationFramesFive {
    0% {
        -webkit-transform: translate(200px, 200px);
        transform: translate(200px, 200px); }
    100% {
        -webkit-transform: translate(-1000px, -1000px);
        transform: translate(-1000px, -1000px); } }

@keyframes ripple4 {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 1; }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0.5; } }

@keyframes animationFramesSix {
    0% {
        -webkit-transform: translate(-250px, 200px);
        transform: translate(-250px, 200px); } }

/* responsive css */
@media (max-width: 1799px) {
    .banner-image .banner-img {
        margin-right: 0; } }

@media (max-width: 1499px) {
    .banner-image .banner-img {
        max-width: 80%; }
    .slider-animation-images .image8 {
        display: none; } }

@media (max-width: 1199px) {
    .banner-wrapper:before {
        display: none; }
    .banner-content .banner-main-title {
        margin-bottom: 10px;
        line-height: normal; }
    .banner-content .banner-dec {
        margin-bottom: 20px;
        line-height: normal; } }

@media (max-width: 767px) {
    .banner-content {
        max-width: 80%; }
    .banner-image {
        text-align: center; }
    .banner-image .banner-img {
        max-width: 60%; }
    .banner-wrapper:before {
        display: none; }
    .banner-image {
        display: none; } }

@media (max-width: 480px) {
    .banner-image .banner-img {
        max-width: 80%; }
    .banner-content {
        max-width: 100%; } }

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.hero__dates {
    position: relative;
    width: 100%;
    margin-top: 60px;
}
.hero__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(50% + 40px);
    border-radius: 16px;
    padding: 60px 0;
    position: relative;
}
.hero__date--color {
    /*background: #ffffff;*/
    /*background: linear-gradient(65deg, #423baa 0%, #2568b0 100%);*/
    z-index: 1;
    left: 0 !important;
    margin-bottom: 220px;
}
.hero__date--color::before{
    content: '';
    position: absolute;
    z-index: -1;
    left: -60px;
    right: -60px;
    top: -60px;
    bottom: -60px;
    background: url("../img/banner/banner-date-bg.png") no-repeat center;
    background-size: 100% 100%;
}
.hero__date--glass {
    /*background: linear-gradient(230deg, rgba(255,255,255,0.08) 0%, rgba(248,248,248,0) 100%);*/
    /*border: 1px solid rgba(255,255,255,0.06);*/
    /*-webkit-backdrop-filter: blur(12px);*/
    /*backdrop-filter: blur(12px);*/
    z-index: 2;
    position: absolute;
    left: calc(50% - 40px) !important;
    top: calc(100% - 240px) !important;
}
.hero__date--glass::before{
    content: '';
    position: absolute;
    z-index: -1;
    left: -60px;
    right: -60px;
    top: -60px;
    bottom: -60px;
    background: url("../img/banner/banner-glass-bg.png") no-repeat center;
    background-size: 100% 100%;
}
.hero__date-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Pequena Neo', sans-serif;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    /*border-bottom: 1px solid rgba(255,255,255,0.25);*/
    /*padding-bottom: 20px;*/
    /*margin-bottom: 20px;*/
}
.hero__date--color .hero__date-day{
    font-family: 'Pequena Neo', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: #ff3ca5;
}
.hero__date-day span {
    /*font-size: 20px;*/
    /*text-transform: uppercase;*/
    /*font-weight: 600;*/
    /*margin-top: 10px;*/
}
.hero__date-text{
    text-align: center;
    margin-top: 25px;
    font-family: 'Pequena Neo', sans-serif;
}
.hero__date-text span{
    padding-top: 10px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.hero__date--color .hero__date-text span{
    color: #2bc8ff;
}
@media (min-width: 768px) {
    .hero__content {
        /*height: auto;*/
        /*min-height: calc(50vh - 105px);*/
    }
    .hero__content--second {
        justify-content: flex-start;
        margin-top: 70px;
    }
    .hero__dates {
        margin-top: 0;
    }
    .hero__date--color {
        margin-bottom: 200px;
    }
    .hero__date--glass {
        top: calc(100% - 240px) !important;
    }
}
@media (min-width: 992px) {
    .hero__content {
        /*height: calc(60vh);*/
    }
    .hero__content--second {
        justify-content: center;
        margin-top: 0;
    }
    .hero__dates {
        margin-top: 10px;
    }
}
@media (min-width: 1200px) {
    .hero__content {
        /*padding: 70px 0;*/
        /*min-height: calc(80vh - 60px);*/
        height: auto;
    }
    .hero__dates {
        margin-top: 15px;
    }
    .hero__date {
        width: calc(50% + 20px);
    }
    .hero__date--color {
        margin-bottom: 180px;
    }
    .hero__date--glass {
        right: 60px !important;
        left: auto !important;
        top: auto !important;
        bottom: 0 !important;
    }
    .hero__date-day {
        font-size: 40px;
        line-height: 40px;
    }
}

/*==============================
	Service Wrapper
==============================*/
.service-wrapper .row {
    /*align-items: center;*/
}
.service-dec {
    margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-size: 20px;
}

/*==============================
	Features
==============================*/
.features-list{
    margin-top: 60px;
}
.features {
    /*background-color: #232122;*/
    /*background: linear-gradient(65deg, #423baa 0%, #2568b0 100%);*/
    background: linear-gradient(to right, #33ccff 0%, #3366ff 100%);
    padding: 30px 0;
    border-radius: 16px;
    /*margin-top: 20px;*/
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    height: 400px;

    /*box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);*/
}
.features--first{
    background: url('../img/about/1.png') no-repeat center;
    background-size: contain;
}
.features--second{
    background: url('../img/about/2.png') no-repeat center;
    background-size: contain;
}
.features--third{
    background: url('../img/about/3.png') no-repeat center;
    background-size: contain;
}
.features--fourth{
    background: url('../img/about/4.png') no-repeat center;
    background-size: contain;
}
.features:before {
    content: '';
    position: absolute;
    right: 45px;
    top: 0;
    z-index: 2;
    width: 300px;
    height: 100%;
    opacity: 0.2;
    /*-webkit-transform: translateX(25%);*/
    /*-moz-transform: translateX(25%);*/
    /*-ms-transform: translateX(25%);*/
    /*-o-transform: translateX(25%);*/
    /*transform: translateX(25%);*/
}
/*.features--first:before {*/
/*    background: url("../img/icons/goal.png") no-repeat right center;*/
/*    background-size: 100% auto;*/
/*}*/
/*.features--second:before {*/
/*    background: url("../img/icons/team.png") no-repeat right center;*/
/*    background-size: 100% auto;*/
/*}*/
/*.features--third:before {*/
/*    background: url("../img/icons/statistics.png") no-repeat right center;*/
/*    background-size: 100% auto;*/
/*}*/
/*.features--fourth:before {*/
/*    background: url("../img/icons/idea.png") no-repeat right center;*/
/*    background-size: 100% auto;*/
/*}*/
/*.features:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    display: block;*/
/*    border-radius: 16px;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background: linear-gradient(65deg, #423baa 0%, #2568b0 100%);*/
/*    z-index: 1;*/
/*    opacity: 0.12;*/
/*    left: -40px;*/
/*    top: -50px;*/
/*    -webkit-animation: spin 40s linear infinite;*/
/*    animation: spin 40s linear infinite;*/
/*}*/
.features__title {
    font-family: 'Pequena Neo', sans-serif;
    font-size: 28px;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;
    padding-top: 20px;
    margin-bottom: 30px;
}
/*.features__title:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    display: block;*/
/*    width: 60px;*/
/*    height: 4px;*/
/*    border-radius: 4px;*/
/*    background: #ffffff;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/
.features__text {
    position: relative;
    z-index: 3;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 0;
}
.features--first {
    /*margin-top: 0;*/
}
.features--second:after {
    transform: rotate(35deg);
}
.features--third:after {
    transform: rotate(60deg);
}

@media (min-width: 768px){
    .features {
        padding: 60px 75px 45px;
        /*margin-top: 30px;*/
    }
    .features:after {
        left: -60px;
        top: -60px;
    }
    .features--first {
        /*margin-top: 0;*/
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*==============================
	Timeline
==============================*/
.seofy_module_time_line_vertical {
    position: relative;
    z-index: 1;
    padding: 70px 0;
}
.seofy_module_time_line_vertical:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 2px;
    left: 50%;
    top: 0;
    margin-left: -1px;
    background: -webkit-linear-gradient(top,transparent 0,rgba(63,71,103,0.15) 100px,rgba(63,71,103,0.15) -webkit-calc(100% - 100px), transparent 100%);
    background: -webkit-linear-gradient(top,transparent 0,rgba(63,71,103,0.15) 100px,rgba(63,71,103,0.15) -moz-calc(100% - 100px), transparent 100%);
    background: -webkit-linear-gradient(top,transparent 0,rgba(63,71,103,0.15) 100px,rgba(63,71,103,0.15) calc(100% - 100px), transparent 100%);
}
.seofy_module_time_line_vertical .time_line-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}
.seofy_module_time_line_vertical .time_line-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.seofy_module_time_line_vertical .time_line-item:last-child{
    margin-bottom: 0;
}
.seofy_module_time_line_vertical .time_line-date_wrap {
    position: relative;
    z-index: 1;
    margin-left: -webkit-calc(50% - 10px);
    margin-left: -moz-calc(50% - 10px);
    margin-left: calc(50% - 10px);
    margin-right: 50px;
}
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-date_wrap {
    margin-right: -webkit-calc(50% - 10px);
    margin-right: -moz-calc(50% - 10px);
    margin-right: calc(50% - 10px);
    margin-left: 50px;
}
.seofy_hexagon {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.seofy_module_time_line_vertical .seofy_hexagon {
    height: 22px;
    width: 20px;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s;
    -moz-transition: opacity .8s;
    transition: opacity .8s;
}
.seofy_module_time_line_vertical .seofy_hexagon:first-child {
    position: relative;
    z-index: 0;
}
.seofy_module_time_line_vertical.appear_anim .time_line-item .seofy_hexagon {
    opacity: 0;
}
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .seofy_hexagon {
    left: auto;
    right: 0;
}
.seofy_module_time_line_vertical .time_line-item.item_show .seofy_hexagon,
.seofy_module_time_line_vertical .time_line-item.item_show:nth-child(even) .seofy_hexagon {
    opacity: 1;
}
.seofy_hexagon svg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    filter: drop-shadow(4px 5px 4px rgba(255,60,165,0.3));
    fill: #ff3ca5;
}
.seofy_module_time_line_vertical .seofy_hexagon:nth-child(2) svg {
    fill: #fff !important;
}
.seofy_module_time_line_vertical .time_line-item:hover .seofy_hexagon:nth-child(2) {
    -webkit-animation: pulse_hexagon 2s infinite;
    -moz-animation: pulse_hexagon 2s infinite;
    -o-animation: pulse_hexagon 2s infinite;
    animation: pulse_hexagon 2s infinite;
}
.seofy_module_time_line_vertical .time_line-date {
    position: absolute;
    z-index: 1;
    right: 100%;
    top: -50%;
    min-width: 300px;
    padding-right: 50px;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    white-space: nowrap;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    color: #ff3ca5;
}
.seofy_module_time_line_vertical .time_line-date > span{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(calc(-50% - 20px), calc(-50% + 5px));
    -moz-transform: translate(calc(-50% - 20px), calc(-50% + 5px));
    -ms-transform: translate(calc(-50% - 20px), calc(-50% + 5px));
    -o-transform: translate(calc(-50% - 20px), calc(-50% + 5px));
    transform: translate(calc(-50% - 20px), calc(-50% + 5px));
    font-family: 'Pequena Neo', sans-serif;
    font-weight: 700;
    color: #ffffff;
}
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-date {
    right: auto;
    left: 100%;
    padding-left: 50px;
    padding-right: 0;
}
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-date > span{
    left: 50%;
    -webkit-transform: translate(calc(-50% + 20px), calc(-50% + 5px));
    -moz-transform: translate(calc(-50% + 20px), calc(-50% + 5px));
    -ms-transform: translate(calc(-50% + 20px), calc(-50% + 5px));
    -o-transform: translate(calc(-50% + 20px), calc(-50% + 5px));
    transform: translate(calc(-50% + 20px), calc(-50% + 5px));
}
.seofy_module_time_line_vertical.appear_anim .time_line-item .time_line-date {
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
    transform: translateX(-20%);
    opacity: 0;
}
.seofy_module_time_line_vertical.appear_anim .time_line-item:nth-child(even) .time_line-date {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%);
}
.seofy_module_time_line_vertical .time_line-item.item_show .time_line-date {
    opacity: 1;
    -webkit-transform: translate(0, calc(-50% + 22px));
    -moz-transform: translate(0, calc(-50% + 22px));
    -ms-transform: translate(0, calc(-50% + 22px));
    -o-transform: translate(0, calc(-50% + 22px));
    transform: translate(0, calc(-50% + 22px));
}
.seofy_module_time_line_vertical .time_line-item.item_show:nth-child(even) .time_line-date{
    opacity: 1;
    -webkit-transform: translate(0, calc(-50% + 22px));
    -moz-transform: translate(0, calc(-50% + 22px));
    -ms-transform: translate(0, calc(-50% + 22px));
    -o-transform: translate(0, calc(-50% + 22px));
    transform: translate(0, calc(-50% + 22px));
}
.seofy_module_time_line_vertical .time_line-content {
    position: relative;
    z-index: 1;
    padding: 20px 30px;
    width: 100%;
    max-width: 500px;
    -webkit-box-shadow: 7px 5px 30px 0 rgb(72 73 121 / 15%);
    -moz-box-shadow: 7px 5px 30px 0 rgba(72,73,121,0.15);
    box-shadow: 7px 5px 30px 0 rgb(72 73 121 / 15%);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background: #fff;
    overflow: hidden;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-content {
    text-align: right;
}
.seofy_module_time_line_vertical .time_line-content:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
    background: #ff3ca5;
}
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-content:before {
    left: auto;
    right: 0;
}
.seofy_module_time_line_vertical.appear_anim .time_line-item .time_line-content {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 0;
}
.seofy_module_time_line_vertical.appear_anim .time_line-item:nth-child(even) .time_line-content {
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
    transform: translateX(-20%);
}
.seofy_module_time_line_vertical .time_line-item.item_show .time_line-content,
.seofy_module_time_line_vertical .time_line-item.item_show:nth-child(even) .time_line-content {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.seofy_module_time_line_vertical .time_line-title {
    font-family: 'Pequena Neo', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}
.seofy_module_time_line_vertical .time_line-descr {
    line-height: 20px;
    font-size: 16px;
}
@-webkit-keyframes pulse_hexagon{
    0%{-webkit-transform:scale(1);transform:scale(1)}
    70%{-webkit-transform:scale(2);transform:scale(2)}
    100%{-webkit-transform:scale(1);transform:scale(1)}
}
@-moz-keyframes pulse_hexagon{
    0%{-moz-transform:scale(1);transform:scale(1)}
    70%{-moz-transform:scale(2);transform:scale(2)}
    100%{-moz-transform:scale(1);transform:scale(1)}
}
@-o-keyframes pulse_hexagon{
    0%{-o-transform:scale(1);transform:scale(1)}
    70%{-o-transform:scale(2);transform:scale(2)}
    100%{-o-transform:scale(1);transform:scale(1)}
}
@keyframes pulse_hexagon{
    0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
    70%{-webkit-transform:scale(2);-moz-transform:scale(2);-o-transform:scale(2);transform:scale(2)}
    100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}
@-webkit-keyframes pulse_hexagon_active{
    0%{-webkit-transform:scale(2);transform:scale(2)}
    30%{-webkit-transform:scale(1);transform:scale(1)}
    100%{-webkit-transform:scale(2);transform:scale(2)}
}
@-moz-keyframes pulse_hexagon_active{
    0%{-moz-transform:scale(2);transform:scale(2)}
    30%{-moz-transform:scale(1);transform:scale(1)}
    100%{-moz-transform:scale(2);transform:scale(2)}
}
@-o-keyframes pulse_hexagon_active{
    0%{-o-transform:scale(2);transform:scale(2)}
    30%{-o-transform:scale(1);transform:scale(1)}
    100%{-o-transform:scale(2);transform:scale(2)}
}
@keyframes pulse_hexagon_active{
    0%{-webkit-transform:scale(2);-moz-transform:scale(2);-o-transform:scale(2);transform:scale(2)}
    30%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
    100%{-webkit-transform:scale(2);-moz-transform:scale(2);-o-transform:scale(2);transform:scale(2)}
}


/*==============================
	Stats
==============================*/
.client-item {
    margin-bottom: 2.75rem;
}
.client-icon {
    width: 3rem;
    margin-right: 2.5rem;
}
.client-icon i {
    font-size: 3.5rem;
    color: #ff3ca5;
}
.client-item-title {
    margin-bottom: 0.625rem;
    font-family: 'Pequena Neo';
    font-weight: bold;
    font-size: 2.75rem;
    line-height: .94117647;
    color: #212529;
}
.slide-descr {
    color: #999999;
    font-size: 1rem;
    line-height: 1.66666667;
}
.clients-photo {
    height: 0;
    padding-bottom: 103.50877193%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}
.clients-photo-item {
    width: 4.375rem;
}
.clients-photo .clients-photo-item {
    position: absolute;
    width: 14.56140351%;
}
.clients-photo-item > .inside {
    display: block;
    height: 0;
    padding-bottom: 100%;
    background-color: #f5f4f0;
    border-radius: 50rem;
    overflow: hidden;
    position: relative;
}
.clients-photo-item > .inside::after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 12px solid #2BC9FF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/*.clients-photo-item > .inside::after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    left: 12px;*/
/*    top: 12px;*/
/*    bottom: 12px;*/
/*    right: 12px;*/
/*    border: 12px solid #ffffff;*/
/*    -webkit-border-radius: 50%;*/
/*    -moz-border-radius: 50%;*/
/*    border-radius: 50%;*/
/*}*/
.clients-photo-item img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.clients-photo .clients-photo-item1 {
    width: 19.29824561%;
    top: 43.05084746%;
    left: 6.31578947%;
}
.clients-photo .clients-photo-item1 > .inside::after{
    border-color: #2BC9FF;
}
.clients-photo .clients-photo-item2 {
    top: 0;
    left: 57.54385965%;
}
.clients-photo .clients-photo-item2 > .inside::after{
    border-color: #2BC9FF;
}
.clients-photo .clients-photo-item3 {
    top: 48.81355932%;
    right: 0;
}
.clients-photo .clients-photo-item3 > .inside::after{
    border-color: #FC9A42;
}
.clients-photo .clients-photo-item4 {
    top: 11.52542373%;
    left: 11.57894737%;
}
.clients-photo .clients-photo-item4 > .inside::after{
    border-color: #4666FF;
}
.clients-photo .clients-photo-item5 {
    width: 31.92982456%;
    bottom: 0;
    right: 3.50877193%;
}
.clients-photo .clients-photo-item5 > .inside::after{
    border-color: #2BC9FF;
}
.clients-photo .clients-photo-item6 {
    width: 17.54385965%;
    bottom: 6.10169492%;
    left: 31.57894737%;
}
.clients-photo .clients-photo-item6 > .inside::after{
    border-color: #4666FF;
}
.clients-photo .clients-photo-item7 {
    width: 49.12280702%;
    top: 23.05084746%;
    left: 31.92982456%;
}
.clients-photo .clients-photo-item7 > .inside::after{
    border-color: #ff3ca5;
}
.clients-photo .clients-photo-item8 {
    width: 12.28070175%;
    top: 73.55932203%;
    left: 6.31578947%;
}
.clients-photo .clients-photo-item8 > .inside::after{
    border-color: #FC9A42;
}

/*==============================
	Mentors
==============================*/
.mentors-wrapper{
    padding: 0;
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.slick-mentors{
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: flex !important;
    overflow-x: hidden;
    overflow-y: auto;
}
.slick-mentors .slick-track{
    height: 100%;
}
.slick-mentors .slick-arrow.arrow-prev{
    left: 15px;
}
.slick-mentors .slick-arrow.arrow-next{
    right: 15px;
}
.mentor-item{
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 3.25rem 0;
    position: relative;
}
.slide-container > .container {
    padding: 0 60px;
    position: relative;
    z-index: 200;
}
.slide-title-sub {
    margin-bottom: 2.75rem;
    font-family: 'Pequena Neo', sans-serif;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.45454545;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .025em;
}
.slide-title {
    margin-bottom: 2.625rem;
    font-family: 'Pequena Neo', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    color: #b99e64;
    text-transform: uppercase;
}
.mentor-item .slide-descr {
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.66666667;
    margin-bottom: 1.875rem;
}
.slide-btn {
    margin-top: 0;
}
.mentor-item .social {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.3125rem;
}
.mentor-item .social li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}
.mentor-item .social a {
    color: rgba(255,255,255,.6);
}
.mentor-item .social a:hover {
    color: #ffffff;
}

@media (min-width: 768px){
    .slide-title {
        font-size: 2rem;
    }
}

@media (max-width: 768px){
    .mentor-item{
        background-position: 85% center;
    }
    .mentor-item::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.25);
    }
}

/*==============================
	FAQ
==============================*/
.accordion__card {
    background-color: #beecff;
    border: 1px solid #beecff;
    border-radius: 16px;
    margin-top: 20px;
}
.accordion__card button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 80px;
    padding: 20px 80px 20px 20px;
    color: #232122;
    font-family: 'Pequena Neo', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    border: none;
    background-color: transparent;
}
.accordion__card button span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: linear-gradient(to right, #ff3ca5 0%, #ff0066 100%);
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
}
.accordion__card button span:before {
    content: '';
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(65deg, #2568b0 0%, #423baa 100%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    border-radius: 12px;
}
.accordion__card button span svg {
    width: 24px;
    height: auto;
    fill: #fff;
    position: absolute;
    z-index: 2;
    transition: transform 0.5s ease;
}
.accordion__card button span svg:last-child {
    transform: rotate(-90deg);
}
.accordion__card p {
    padding: 0 20px;
    color: #535051;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 20px;
}


@media (min-width: 768px){
    .accordion__card {
        margin-top: 30px;
    }
}

/*==============================
	Testimonial
==============================*/
.testimonial-wrapper{
    background: linear-gradient(to right, #33ccff 0%, #3366ff 100%);
}
.testimonial-slider {
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
}
.testimonial-slider .testimonial-outer-box {
    margin: 0 -15px -21px;
}
.testimonial-slider .testimonial-outer-box .owl-carousel {
    position: initial;
}
.testimonial-item {
    padding: 0 15px;
    cursor: pointer;
}
.testimonial-item .testimonial-content {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 45px 15px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.testimonial-item .testimonial-content:before,
.testimonial-item .testimonial-content:after {
    content: '';
    position: absolute;
    width: 36px;
    height: 25px;
}
.testimonial-item .testimonial-content:before {
    left: 15px;
    top: 15px;
    background: url(../img/testimonial/left-box.png);
}
.testimonial-item .testimonial-content:after {
    right: 15px;
    bottom: 15px;
    background: url(../img/testimonial/right-box.png);
}
.testimonial-item .testimonial-content .testimonial-dec {
    margin: 0 auto 20px;
    line-height: 1.5;
    width: 95%;
    font-size: 18px;
}
.testimonial-item .testimonial-content .testimonial-title {
    margin-bottom: 10px;
    font-family: 'Pequena Neo', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #212529;
    /*text-transform: capitalize;*/
}
.testimonial-item .testimonial-content .testimonial-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #212529;
    /*text-transform: capitalize;*/
    margin: 0;
}
.testimonial-item .testimonial-content .testimonial-images {
    padding-top: 20px;
    visibility: hidden;
    display: none;
}
.testimonial-item .testimonial-content .testimonial-images img {
    width: 80px;
    height: 80px;
}

.testimonial-slider .testimonial-outer-box .owl-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 48px;
    color: #ffffff;
}
.testimonial-slider .testimonial-outer-box .owl-nav button.owl-prev{
    position: absolute;
    left: -20px;
}
.testimonial-slider .testimonial-outer-box .owl-nav button.owl-next{
    position: absolute;
    right: -20px;
}
.testimonial-outer-box .owl-dots .owl-dot {
    vertical-align: middle;
}
.testimonial-outer-box .owl-dots .owl-dot span {
    margin: 0;
    border-radius: 200px;
    position: absolute;
    border: 4px solid transparent;
}
/*.testimonial-outer-box .owl-dots .owl-dot.active span {*/
/*    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.35);*/
/*    animation-name: bounce-1;*/
/*    animation-timing-function: linear;*/
/*    animation-duration: 2s;*/
/*    animation-iteration-count: infinite;*/
/*    transform-origin: bottom;*/
/*    border: 4px solid #ffffff;*/
/*}*/
.testimonial-outer-box .owl-dots .owl-dot:nth-child(1) span {
    width: 120px;
    height: 120px;
    left: 115px;
    bottom: 175px;
    background: url(../img/testimonial/1.png) no-repeat center;
    background-size: cover;
}
.testimonial-outer-box .owl-dots .owl-dot:nth-child(2) span {
    width: 100px;
    height: 100px;
    top: 148px;
    left: 328px;
    background: url(../img/testimonial/2.png) no-repeat center;
    background-size: cover;
}
.testimonial-outer-box .owl-dots .owl-dot:nth-child(3) span {
    width: 75px;
    height: 75px;
    bottom: 219px;
    left: 383px;
    background: url(../img/testimonial/3.png) no-repeat center;
    background-size: cover;
}
.testimonial-outer-box .owl-dots .owl-dot:nth-child(4) span {
    width: 120px;
    height: 120px;
    right: 161px;
    top: 142px;
    background: url(../img/testimonial/4.png) no-repeat center;
    background-size: cover;
}
.testimonial-outer-box .owl-dots .owl-dot:nth-child(5) span {
    width: 100px;
    height: 100px;
    bottom: 187px;
    right: 287px;
    background: url(../img/testimonial/5.png) no-repeat center;
    background-size: cover;
}
.testimonial-outer-box .owl-dots .owl-dot:nth-child(6) span {
    width: 75px;
    height: 75px;
    bottom: 202px;
    right: 98px;
    background: url(../img/testimonial/6.png) no-repeat center;
    background-size: cover;
}

@media (max-width: 1660px){
    .testimonial-outer-box .owl-dots .owl-dot:nth-child(1) span {
        left: 40px;
    }
    .testimonial-outer-box .owl-dots .owl-dot:nth-child(2) span {
        top: 145px;
        left: 140px;
    }
    .testimonial-outer-box .owl-dots .owl-dot:nth-child(3) span {
        bottom: 247px;
        left: 190px;
    }
    .testimonial-outer-box .owl-dots .owl-dot:nth-child(4) span {
        right: 156px;
        top: 150px;
    }
    .testimonial-outer-box .owl-dots .owl-dot:nth-child(5) span {
        bottom: 257px;
        right: 160px;
    }
    .testimonial-outer-box .owl-dots .owl-dot:nth-child(6) span {
        bottom: 100px;
        right: 50px;
    }
}


.animated-bg i {
    bottom: -50px;
    left: -45px;
    -webkit-box-shadow: 0 15px 30px 0 #ddd;
    box-shadow: 0 15px 30px 0 #ddd;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    opacity: 0.3;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    animation: ripple1 3s linear infinite;
}
.animated-bg i {
    background-color: rgba(52, 106, 255, 0.5);
}
.animated-bg i:nth-child(2) {
    animation: ripple2 3s linear infinite;
}
.animated-bg i:nth-child(3) {
    animation: ripple3 3s linear infinite;
}

@keyframes ripple1 {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes ripple3 {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*==============================
	Blog
==============================*/
.blog-first-block {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.blog-first-block img {
    width: 100%;
    height: auto;
    transition: all 0.4s linear;
}
.blog-second-block {
    padding-top: 20px;
}
.blog-right-content {
    overflow: hidden;
    padding-left: 15px;
}
.blog-second-block .blog-dec {
    margin: 0;
    font-family: 'Pequena Neo', sans-serif;
    font-size: 20px;
}
.blog-date{
    margin-bottom: 15px;
    font-family: 'Pequena Neo', sans-serif;
    text-transform: uppercase;
    color: #999999;
}
.blog-post .blog-first-block img{
    width: 100%;
}
.blog-post article p,
.blog-post article ul{
    margin-bottom: 15px;
}
.blog-post article ul{
    padding-left: 15px;
}
.blog-post .share{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    white-space: nowrap;
}
.blog-post  .share-link {
    display: inline-block;
}
.blog-post  .share-link a {
    padding: 0 10px;
    transition: left 0.3s ease;
}
.blog-post .share-link a svg {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    fill: #959595;
    -webkit-transition: fill 0.25s ease;
    -moz-transition: fill 0.25s ease;
    -ms-transition: fill 0.25s ease;
    -o-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}
.share-link a.fb:hover svg,
.share-link a.fb:active svg,
.share-link a.fb:focus svg,
.share-link a.fb:hover svg,
.share-link a.fb:active svg,
.share-link a.fb:focus svg {
    fill: #3b5998;
}
.share-link a.tw:hover svg,
.share-link a.tw:active svg,
.share-link a.tw:focus svg,
.share-link a.tw:hover svg,
.share-link a.tw:active svg,
.share-link a.tw:focus svg {
    fill: #1da1f2;
}
.share-link a.vk:hover svg,
.share-link a.vk:active svg,
.share-link a.vk:focus svg,
.share-link a.vk:hover svg,
.share-link a.vk:active svg,
.share-link a.vk:focus svg {
    fill: #45668e;
}
.share-link a.ok:hover svg,
.share-link a.ok:active svg,
.share-link a.ok:focus svg,
.share-link a.ok:hover svg,
.share-link a.ok:active svg,
.share-link a.ok:focus svg {
    fill: #ff9800;
}
.share-link a.wt:hover svg,
.share-link a.wt:active svg,
.share-link a.wt:focus svg,
.share-link a.wt:hover svg,
.share-link a.wt:active svg,
.share-link a.wt:focus svg {
    fill: #25d366;
}
.share-link a.tg:hover svg,
.share-link a.tg:active svg,
.share-link a.tg:focus svg,
.share-link a.tg:hover svg,
.share-link a.tg:active svg,
.share-link a.tg:focus svg {
    fill: #08c;
}

@media (min-width: 992px){
    .blog-post .blog-first-block img{
        width: 50%;
    }
}



/*==============================
	Brands
==============================*/
.brand-slider .brand-content {
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.brand-slider .owl-carousel .owl-item img{
    width: auto;
    height: 100px;
    margin: 0 auto;
}

/*==============================
	Footer
==============================*/
.footer-wrapper {
    background: #1f1f1f;
    padding: calc(32px + (110 - 40) * ((100vw - 320px) / (1920 - 320))) 0;
    position: relative;
    border-top-right-radius: calc(30px + (200 - 30) * ((100vw - 320px) / (1920 - 320)));
}
.footer-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.15;
    background: url(../img/footer/footer-bg.png) no-repeat center;
    background-size: cover;
}
.footer-wrapper .container {
    z-index: 2;
    position: relative;
}
.footer-wrapper .footer-content-wrapper {
    position: relative;
}
.footer-wrapper .footer-content-wrapper .footer-logo-wrapper {
    padding-right: calc(0px + (80 - 0) * ((100vw - 320px) / (1920 - 320)));
}
.footer-wrapper .footer-content-wrapper .footer-logo-wrapper .footer-logo {
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
}
.footer-wrapper .footer-content-wrapper .footer-logo-wrapper .footer-dec {
    color: #ffffff;
    font-weight: 300;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}
.footer-wrapper .footer-content-wrapper .footer-title {
    color: #ffffff;
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
}
.footer-wrapper .footer-content-wrapper .footer-title:after {
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    left: 0;
    bottom: 0;
}
.footer-wrapper .footer-content-wrapper .footer-details-link ul {
    margin: 0;
}
.footer-wrapper .footer-content-wrapper .footer-details-link ul li {
    display: block;
    margin-bottom: 5px;
}
.footer-wrapper .footer-content-wrapper .footer-details-link ul li a {
    display: inline-block;
    vertical-align: middle;
}
.footer-wrapper .footer-content-wrapper .footer-contact-us ul li {
    margin-bottom: 8px;
}
.footer-wrapper .footer-content-wrapper .footer-contact-us ul li a {
    display: table;
}
.footer-wrapper .footer-content-wrapper .footer-contact-us ul li a span {
    display: table;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.footer-wrapper .footer-content-wrapper .footer-contact-us ul li a span i {
    display: block;
    text-align: left;
    color: #ffffff;
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}
.footer-wrapper .footer-content-wrapper .footer-link {
    color: #ffffff;
    font-weight: 300;
    margin: 0;
    transition: all 0.5s ease-in-out;
    line-height: 30px;
    position: relative;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}
/*.footer-wrapper .footer-content-wrapper .footer-about-us .footer-about-outer .footer-link:before {*/
/*    position: absolute;*/
/*    content: '\F133';*/
/*    font-family: bootstrap-icons;*/
/*    left: -20px;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*    font-weight: 900;*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    transition: all 0.5s ease-in-out;*/
/*}*/
.footer-wrapper .footer-content-wrapper .footer-about-us .footer-about-outer .footer-link:hover {
    padding-left: 5px;
}
.footer-wrapper .footer-content-wrapper .footer-about-us .footer-about-outer .footer-link:hover:before {
    left: 0;
}
.footer-wrapper .footer-content-wrapper .footer-contact-us ul li a .footer-link {
    display: table-cell;
    vertical-align: middle;
}
.footer-wrapper .footer-content-wrapper .footer-newsletter .social-wrapper {
    margin: 0;
    display: flex;
}
.footer-wrapper .footer-content-wrapper .footer-newsletter .social-wrapper li {
    display: inline-block;
    vertical-align: middle;
}
.footer-wrapper .footer-content-wrapper .footer-newsletter .social-wrapper li a {
    display: block;
    width: 40px;
}
.footer-wrapper .footer-content-wrapper .footer-newsletter .social-wrapper li a i {
    font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
    color: #ffffff;
    vertical-align: middle;
    -webkit-transition: color 0.25s ease;
    -moz-transition: color 0.25s ease;
    -ms-transition: color 0.25s ease;
    -o-transition: color 0.25s ease;
    transition: color 0.25s ease;
}
.footer-wrapper .footer-content-wrapper .footer-newsletter .social-wrapper li a i.bi-instagram:hover{
    color: #e1306c;
}
.footer-wrapper .footer-content-wrapper .footer-newsletter .social-wrapper li a i.bi-facebook:hover{
    color: #1877f2;
}
.footer-wrapper .footer-content-wrapper .footer-newsletter .social-wrapper li a i.bi-linkedin:hover{
    color: #0077b5;
}
.footer-wrapper .footer-content-wrapper .footer-newsletter .social-wrapper li a i.bi-youtube:hover{
    color: #ff0000;
}
.footer-wrapper .footer-content-wrapper .footer-newsletter .social-wrapper li a i.bi-tiktok:hover{
    color: #69C9D0;
}

.footer-wrapper-copytext {
    background: #1f1f1f;
    transition: all 0.6s ease-in-out;
    position: relative;
}
.footer-wrapper-copytext:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.15;
    background: url(../img/footer/footer-bg.png) no-repeat center;
    background-size: cover;
}
.footer-wrapper-copytext .footer-copyright-text {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
}
.footer-wrapper-copytext .footer-copyright-text .copyright-link {
    text-align: center;
}
.footer-wrapper-copytext .footer-copyright-text .copyright-link span {
    font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    line-height: 30px;
}
#bottom-to-top {
    position: fixed;
    bottom: 20px;
    right: 50px;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    z-index: 50;
}
#bottom-to-top.show {
    opacity: 1;
}
#bottom-to-top .scroll-icon-link {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    line-height: 44px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #33ccff 0%, #3366ff 100%);
}
#bottom-to-top .scroll-icon-link i {
    color: #ffffff;
}
#bottom-to-top .scroll-icon-link i::before {
    font-size: 13px;
}

/* responsive css */
@media (max-width: 991px) {
    #bottom-to-top {
        bottom: 35px;
        right: 25px;
    }
    #bottom-to-top .scroll-icon-link {
        width: 40px;
        height: 40px;
        line-height: 44px;
    }
    #bottom-to-top .scroll-icon-link svg {
        font-size: 20px;
    }
}

@media (min-width: 992px){
    .footer-wrapper .footer-toggle-icon-wrapper {
        display: none;
    }
    #footer-about-wrapper, #footer-social-wrapper, #footer-address-wrapper {
        display: block;
        overflow: hidden;
        margin: 0;
    }
    .footer-about-us {
        /*text-align: center;*/
    }
    .footer-about-us .footer-about-outer {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
    }
}

@media (max-width: 1200px) {
    .header__btn{
        box-shadow: none;
        border: none;
        background: none;
    }
}
@media (max-width: 768px) {
    .banner-content .banner-main-title{
        font-size: 46px;
    }
    .slick-hero{
        padding: 0;
    }
    .mentors-wrapper {
        height: 100vh;
    }
    .slick-mentors .slick-arrow.arrow-prev{
        bottom: 5px;
        top: inherit;
        left: 30%;
    }
    .slick-mentors .slick-arrow.arrow-next{
        bottom: 15px;
        top: inherit;
        right: 30%;
    }
    .mentor-item .slide-descr{
        font-size: 1rem;
    }
    .mentors-wrapper .slide-container > .container{
        padding: 0 15px 60px 15px;
    }
    .features{
        padding: 15px;
        height: 100% !important;
    }
    .features--first{
        background: linear-gradient(to right, #ff0369 0%, #ff3ba4 100%) !important;
        bottom: 30px;
    }
    .features--second{
        background: linear-gradient(to right, #33ccff 0%, #3369ff 100%) !important;
    }
    .features--third{
        background: linear-gradient(to right, #ff650c 0%, #ffa229 100%) !important;
        bottom: 30px;
    }
    .features--fourth{
        background: linear-gradient(to right, #e997d6 0%, #a024c0 100%) !important;
    }
    .timeline-wrapper .seofy_module_time_line_vertical .time_line-item{
        display: block;
    }

    .seofy_module_time_line_vertical .time_line-date{
        position: relative;
        right: inherit !important;
        top: inherit;
        min-width: auto;
        left: auto !important;
        padding: 0 30px !important;
    }
    .seofy_module_time_line_vertical .time_line-date_wrap,
    .seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-date_wrap{
        margin: 0 auto;
    }

    .seofy_module_time_line_vertical .time_line-item.item_show .time_line-date,
    .seofy_module_time_line_vertical .time_line-item.item_show:nth-child(even) .time_line-date{
        transform: translate(0, calc(-50% + 80px));
    }
    .seofy_module_time_line_vertical .time_line-item.item_show .seofy_hexagon{
        margin: 0 auto;
    }
    .seofy_module_time_line_vertical .seofy_hexagon:first-child{
        margin: 0 auto;
    }
    .seofy_module_time_line_vertical .seofy_hexagon:nth-child(2){
        display: none;
    }

    .testimonial-outer-box .owl-dots{
        display: none;
    }
}
