body, html {
    font-size: 14px! important;
    font-weight: 500;
    font-family: 'Nunito', Helvetica, sans-serif;
}
form{
    margin: 0;
}

/*Helper*/
.separator{
    border-bottom: 2px solid #e4e6ef;
}

/*Card*/
.card .card-header{
    border-bottom: 2px solid #e4e6ef;
}


/*Form*/
.daterangepicker{
    font-family: 'Nunito', Helvetica, sans-serif;
}
.form-control,
.form-select{
    border-width: 2px;
}
.form-text {
    font-weight: 500;
}
.tox-tinymce{
    max-height: 350px !important;
}


/*Timeline*/
.timeline-label .timeline-label{
    width: 100px;
    padding-right: 10px;
}
.timeline-label:before{
    left: 101px;
}
.timeline-label .timeline-badge span{
    display: flex;
    border-radius: 100%;
    width: auto;
    height: auto;
    background: none;
}

/*Charts*/
.apexcharts-legend-text, .apexcharts-text, .apexcharts-title-text{
    font-family: 'Nunito', Helvetica, sans-serif !important;
}
