@font-face {
    font-family: 'Pequena Neo';
    src: url('PequenaNeo-Black.eot');
    src: local('Pequena Neo Black'), local('PequenaNeo-Black'),
        url('PequenaNeo-Black.eot?#iefix') format('embedded-opentype'),
        url('PequenaNeo-Black.woff2') format('woff2'),
        url('PequenaNeo-Black.woff') format('woff'),
        url('PequenaNeo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pequena Neo';
    src: url('PequenaNeo-Bold.eot');
    src: local('Pequena Neo Bold'), local('PequenaNeo-Bold'),
        url('PequenaNeo-Bold.eot?#iefix') format('embedded-opentype'),
        url('PequenaNeo-Bold.woff2') format('woff2'),
        url('PequenaNeo-Bold.woff') format('woff'),
        url('PequenaNeo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pequena Neo Shadow';
    src: url('PequenaNeo-ShadowBlack.eot');
    src: local('Pequena Neo Shadow Black'), local('PequenaNeo-ShadowBlack'),
        url('PequenaNeo-ShadowBlack.eot?#iefix') format('embedded-opentype'),
        url('PequenaNeo-ShadowBlack.woff2') format('woff2'),
        url('PequenaNeo-ShadowBlack.woff') format('woff'),
        url('PequenaNeo-ShadowBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pequena Neo Dingbats';
    src: url('PequenaNeo-Dingbats.eot');
    src: local('Pequena Neo Dingbats'), local('PequenaNeo-Dingbats'),
        url('PequenaNeo-Dingbats.eot?#iefix') format('embedded-opentype'),
        url('PequenaNeo-Dingbats.woff2') format('woff2'),
        url('PequenaNeo-Dingbats.woff') format('woff'),
        url('PequenaNeo-Dingbats.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pequena Neo';
    src: url('PequenaNeo-ExtraBold.eot');
    src: local('Pequena Neo ExtraBold'), local('PequenaNeo-ExtraBold'),
        url('PequenaNeo-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('PequenaNeo-ExtraBold.woff2') format('woff2'),
        url('PequenaNeo-ExtraBold.woff') format('woff'),
        url('PequenaNeo-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pequena Neo Shadow';
    src: url('PequenaNeo-ShadowBold.eot');
    src: local('Pequena Neo Shadow Bold'), local('PequenaNeo-ShadowBold'),
        url('PequenaNeo-ShadowBold.eot?#iefix') format('embedded-opentype'),
        url('PequenaNeo-ShadowBold.woff2') format('woff2'),
        url('PequenaNeo-ShadowBold.woff') format('woff'),
        url('PequenaNeo-ShadowBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pequena Neo Shadow';
    src: url('PequenaNeo-ShadowExtraBold.eot');
    src: local('Pequena Neo Shadow ExtraBold'), local('PequenaNeo-ShadowExtraBold'),
        url('PequenaNeo-ShadowExtraBold.eot?#iefix') format('embedded-opentype'),
        url('PequenaNeo-ShadowExtraBold.woff2') format('woff2'),
        url('PequenaNeo-ShadowExtraBold.woff') format('woff'),
        url('PequenaNeo-ShadowExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pequena Neo';
    src: url('PequenaNeo-Regular.eot');
    src: local('Pequena Neo Regular'), local('PequenaNeo-Regular'),
        url('PequenaNeo-Regular.eot?#iefix') format('embedded-opentype'),
        url('PequenaNeo-Regular.woff2') format('woff2'),
        url('PequenaNeo-Regular.woff') format('woff'),
        url('PequenaNeo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pequena Neo Shadow';
    src: url('PequenaNeo-ShadowRegular.eot');
    src: local('Pequena Neo Shadow Regular'), local('PequenaNeo-ShadowRegular'),
        url('PequenaNeo-ShadowRegular.eot?#iefix') format('embedded-opentype'),
        url('PequenaNeo-ShadowRegular.woff2') format('woff2'),
        url('PequenaNeo-ShadowRegular.woff') format('woff'),
        url('PequenaNeo-ShadowRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

